 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }


body 
{
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
  height: 100vh;
  position: relative;
}

body,
.nav-link,
.content,
.logo,
.search-bar
{
  display: flex;
}

aside
{
  width: 220px;
  background-color: rgba(0, 0, 0, 0.1);;
  padding: 15px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  color: #fff;
  font-size: 20px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logo i {
  font-size: 22px;
  color: #f9fafb; /* cor clara para combinar com o menu */
}

.card,
.logo,
th, td
{
  text-align: center;
}

.nav-link 
{
  align-items: center; /* centralizar elementos com a mesma propriedade */
  padding: 15px 20px;
  color: #d1d5db;
  transition: background 0.3s;
}


.nav-link i 
{
  margin-right: 10px;
  font-size: 18px;
}


.nav-link:hover {
  background-color: #374151; 
  color: white;
}

i{padding: 2px;}

a{text-decoration: none;}

.content 
{
  position: absolute;
  margin: auto;
  width: calc(100% - 240px);
  max-width: 1200px;
  height: calc(100% - 80px);
  border-radius: 8px;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  z-index: 1;
}


.card {
  width: 270px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card a
{
  color: #1f2937;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card p {
  font-size: 14px;
  color: #666;
  padding: 0 10px 15px;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}


form{width: 90%;}

label 
{
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 8px;
      display: inline-block;
    }

textarea 
{
  width: 100%;
  padding: 10px;
  resize: vertical;
  font-size: 14px;
  font-family: inherit;
  transition: border 0.3s;
}

  textarea:focus 
  {
    border-color: #1f2937;
    outline: none;
  }


.search-bar 
{
  max-width: 500px;
  width: 100%;
  margin-bottom: 30px;
}

    .search-bar input { /* reunir atributos semelhantes dos inputs em 1 só */
      flex: 1;
      padding: 12px 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 15px;
      background-color: #fff;
      transition: border 0.3s;
    }

    .search-bar input:focus {
      border-color: #1f2937;
      outline: none;
    }

.modal-header {
  padding: 10px 16px;
  background-color: #1f2937;
  color: #d1d5db;
}

input[type="text"]
{
  margin-bottom: 3%;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  background-color: #f9fafb;
  transition: border 0.3s;
}